.card{
    width: 1000px;
    height: 600px;
    margin-left: 200px;
    background-image: url('D:\Angular\gmailTask\src\assets\mailbox.png') ;
}
h4{
    margin-left: 200px;
    padding-left: 300px;
    background-color: rgb(255, 140, 0);
    color: rgb(9, 9, 45);
    width: 1000px;
    font-weight: bolder;
    font-style: oblique;
    font-size: xx-large;
}